<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="B74B4D90C95A2D55EB91C92D679EDF493706FBA967A47CFE424216381C08F5E51F71F5972FA8AD3DEB052CF7AE81526DF90DE9F9FB587BA7A189380CC5A69D1A" decryptionKey="5842BCF01CD711850026B5105290A350A423864F037523892CAF4B25FD44B27C" validation="SHA1" />
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" appRequestQueueLimit="104857" requireRootedSaveAsPath="true" shutdownTimeout="900" />
    <compilation debug="true" targetFramework="4.5"  />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" />
    <customErrors mode="Off">
      <error statusCode="503" redirect="/error.aspx?code=503" />
      <error statusCode="403" redirect="/error.aspx?code=403" />
      <error statusCode="404" redirect="/error.aspx?code=404" />
      <error statusCode="500" redirect="/error.aspx?code=500" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--httpErrors errorMode="Custom">
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="503" subStatusCode="-1" />
      <error statusCode="403" path="/error.aspx?code=403" responseMode="Redirect" />
      <error statusCode="404" path="/error.aspx?code=404" responseMode="Redirect" />
      <error statusCode="500" path="/error.aspx?code=500" responseMode="Redirect" />
      <error statusCode="503" path="/error.aspx?code=503" responseMode="Redirect" />
    </httpErrors-->
  </system.webServer>
  <appSettings>
    <add key="aspnet:IgnoreFormActionAttribute" value="true" />
  </appSettings>
</configuration>